

  <div class="users_show">

  <div class="users_show_card">
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    <div class="users_show_card_infos">
      <div>
        <h2><%= @user.name %></h2>
        <p> I am 40 years old and live in Amsterdam. I love boating. I am happy to rent out my boats. Look forward to meet you! </p>
        <h2>My Past Trips</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <h2>My Boats</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <h2>My Reviews</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p></p>
      </div>
    </div>
  </div>

  </div>

