

  <div class="users_show">

  <div class="users_show_card">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
    <div class="users_show_card_infos">
      <div>
        <h2><%= @user.name %></h2>
        <p> I am 40 years old and live in Amsterdam. I love boating. I am happy to rent out my boats. Look forward to meet you! </p>
        <p></p>
      </div>
    </div>
  </div>

  </div>

