<div class="banner" style="background-image: linear-gradient(rgba(83, 144, 217, 0.4),rgba(128, 255, 219,0.4)), url(https://images.unsplash.com/photo-1562768914-009c426fe832?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1618&q=80);">
<!--   <div class="container"> -->
    <!-- h1>Das  <strong>Boathaus</strong></h1> -->
    <img src="https://i.ibb.co/5B2br9h/das-boathaus-1.png" alt="das-boathaus-1" border="0">
    <p>Change your life and rent a boat.</p>
    <div>
    <div class="search_bar">
      <row>
      <input type="text" size=20 placeholder="Find Boats in Your City"><input type="text" size=10 placeholder="Start Date"><input type="text" size=10 placeholder="End Date"><input type="text" size=10 placeholder="Guests">
     </row>
    </div>
    </div>
    <a class="btn-ghost" href="#">Find Boats</a>
  </div>
</div>

<!--
https://images.unsplash.com/photo-1580766316682-8fb5f7102d48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80
 -->
