<div class="container container-new">
  <div class="row">
    <div class="col-6">

      <h1>New Boat</h1>

      <%= render 'form', reservation: @reservation %>

    </div>
  </div>
</div>
