.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}


.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}



.banner p {
  font-size: 20px;
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}



// @keyframes title {
//   0%   {background-color: rgba(128, 255, 219, .4);}
//   25%  {background-color: rgba(86, 207, 225, .4);}
//   50%  {background-color: rgba(83, 144, 217, .4);}
//   100% {background-color: rgba(105, 48, 195, .4);}
// }
