@keyframes footer {
  0%   {background-color: rgba(128, 255, 219, .4);}
  25%  {background-color: rgba(86, 207, 225, .4);}
  50%  {background-color: rgba(83, 144, 217, .4);}
  100% {background-color: rgba(105, 48, 195, .4);}
}



.footer {
 // position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  background-color: rgba(83, 144, 217, .4);
  color: white;
  text-align: center;
}

// rgba(128, 255, 219, .6); rgba(83, 144, 217, .4)
