<%#= form_for current_user.reviews.new do |f| %>
<!-- <div class="form-group">
 --><%#= f.text_area :comment, rows: 3, class: "form-control" %>
<!-- </div>
 --><!-- <div class="form-group">
 -->  <%#= f.input :stars, rows: 3, class: "form-control" %>
<!-- </div>
 --><%#= f.hidden_field :user_id, value: user.id %>
<!-- <div class="text-center">
 -->  <%#= f.submit "Add Review", class: "btn btn-info" %>
<!-- </div> -->
<%# end %>
